body {
    font-family: Arial, sans-serif;
    background-color: #f0f6ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7e0666;
    color: white;
    padding: 20px;
}

#quiz-container {
    margin: 20px auto;
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#options li:hover {
    background-color: #e5b5ed;
}

#submitBtn, #nextBtn, #startBtn {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7e0666;
    color: white;
}

#timer {
    font-weight: bold;
    margin-bottom: 10px;
}

#feedback {
    font-weight: bold;
    height: 20px;
}

.selected {
    background-color: #b76eb8;
    border: 2px solid #5e025b;
    color: white;
    font-weight: bold;
}