body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

/*TOP BAR*/
.top-bar {
    background: #26023C;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    font-size: 14px;
}

.top-bar i {
    margin-right: 15px;
    cursor: pointer;
}

.right-info span {
    margin-left: 20px;;
}

/*MAIN HEADER*/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo-area img {
    height: 80px;
}

.slogan {
    font-size: 18px;
    font-weight: bold;
    color: #442266;
    line-height: 1.2;
    text-transform: uppercase;
}

/*NAVIGATION MENU*/
.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26023C;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav-menu li a:hover {
    background-color: #b894da;
}

/*SEARCH BOX*/
.search-box input {
    border:#26023C;
    padding: 8px 10px;
    width: 180px;
    outline:#442266;
}

.search-box button {
    font-size: 16px;
}

/*RESPONSIVE*/
@media (max-width: 900px) {
    .nav-menu ul {
        display: none;
    }

    .search-box {
        display: none;
    }

    .main-header {
        justify-content: center;
    }
}

/*INFO SECTION*/
section {
    padding: 40px;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 40px;
}

section h2 {
    color: #442266;
    margin-bottom: 15px;
    padding-left: 50px;;
}

section p {
    line-height: 1.6;
    font-size: 16px;
    padding-left: 50px;;
}

.three-box {
    display: flex;
    gap: 20px;
    margin: 40px;
}

.box {
    flex: 1;
    background: #EEE8FF;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
}

.box h3 {
    margin-bottom: 10px;
    color: #442266;
}

/*INFO TABLE SECTION*/
.info-table-section {
    background: #f7f3ff;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.info-table-section h2 {
    color: #442266;
    margin-bottom: 10px;
}

.info-table-section p {
    margin-bottom: 25px;
    font-size: 15px;
}

/*TABLE STYLING*/
.info-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.info-table th {
    background: #442266;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 15px;
}

.info-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.info-table tr:hover {
    background: #f2e9ff;
}

footer {
    padding-left: 30px;
    padding-bottom: 10px;
}